<div class="tabs is-centered is-boxed">
    <ul>
        <li><a hx-get="{{ url_for('lab.show_customer_test_records', order_id=order.id) }}"
                hx-target="#itemList" hx-swap="innerHTML">Tests</a></li>
        <li class="is-active"><a>Invoice</a></li>
    </ul>
</div>
<table class="table is-fullwidth">
    <thead>
    <th>No.</th>
    <th>Name</th>
    <th>Price</th>
    </thead>
    <tbody>
    {% for item in order.invoice_items %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['pricePerUnit'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
