{% extends "base.html" %}
{% block title %}Customer Information{% endblock %}
{% block styles %}
    {{ super() }}
    <style type="text/css">
        @media print
        {
            html, body { visibility: hidden; height: auto; }
            #printable {
                visibility: visible;
                font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
                font-size: 9pt;
            }
        }
        @page {
            size: A4;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                {% include "messages.html" %}
                <div id="printable">
                <h1 class="title has-text-centered">เวชระเบียนผู้รับบริการ</h1>
                    <table id="table" class="table is-fullwidth is-bordered is-striped">
                        <tbody>
                            <tr>
                                <td><label class="label">HN</label></td>
                                <td>
                                    <span>{{ customer.hn }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label">ชื่อ</label></td>
                                <td>{{ customer.title }}{{ customer.firstname }} {{ customer.lastname }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">หมายเลขบัตรประชาชน (PID)</label></td>
                                <td>
                                    <span>{{ customer.pid }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label">เพศ</label></td>
                                <td>{{ customer.gender }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">วันเดือนปีเกิด</label></td>
                                <td>{{ customer.dob|localdatetime(dateonly=True) }} ({{ customer.dob|humanizedt(granularity=['year']) }})</td>
                            </tr>
                            <tr>
                                <td><label class="label">โรคประจำตัว</label></td>
                                <td>
                                    {{ customer.underlying_diseases|join(', ') }}
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label">ประวัติแพ้ยา</label></td>
                                <td>
                                    {{ customer.drug_allergies|join(', ') }}
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label">โทรศัพท์</label></td>
                                <td>{{ customer.tel }}</td>
                            </tr>
                            <tr>
                                <td><label class="label">ที่อยู่</label></td>
                                <td>{{ customer.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.list_patients', lab_id=lab.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            <a href="{{ url_for('lab.add_patient', lab_id=lab.id, customer_id=customer.id) }}"
               class="button is-info is-rounded">
                <span class="icon">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <span>Edit</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}