{% extends "base.html" %}
{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <h1 class="title has-text-centered">Lab Test</h1>
        <div class="columns">
            <div class="column is-half">
                <form method="post">
                    {{ form.csrf_token }}
                    <h1 class="title is-size-4">Test Information</h1>
                    <div class="field">
                        <label class="label">{{ form.code.label }}</label>
                        <div class="control">
                            {{ form.code(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.name.label }}</label>
                        <div class="control">
                            {{ form.name(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.detail.label }}</label>
                        <div class="control">
                            {{ form.detail(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.tat.label }}</label>
                        <div class="control">
                            {{ form.tat(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.data_type.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.data_type() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.unit.label }}</label>
                        <div class="control">
                            {{ form.unit(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.min_value.label }}</label>
                        <div class="control">
                            {{ form.min_value(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.max_value.label }}</label>
                        <div class="control">
                            {{ form.max_value(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.min_ref_value.label }}</label>
                        <div class="control">
                            {{ form.min_ref_value(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.max_ref_value.label }}</label>
                        <div class="control">
                            {{ form.max_ref_value(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.choice_set.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.choice_set() }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.price.label }}</label>
                        <div class="control">
                            {{ form.price(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.active.label }}</label>
                        <div class="control">
                            {{ form.active(class="checkbox") }}
                        </div>
                    </div>
                    {% if not test %}
                        <h1 class="title is-size-4">Specimens Information</h1>
                        {% for fc in form.specimen_container_items %}
                            <div class="notification">
                                <div class="field">
                                    <label class="label">{{ fc.specimen_container.label }}</label>
                                    <div class="select">
                                        {{ fc.specimen_container() }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{ fc.volume.label }}</label>
                                    <div class="control">
                                        {{ fc.volume(class="input") }}
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">{{ fc.note.label }}</label>
                                    <div class="control">
                                        {{ fc.note(class="textarea") }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <a class="button is-outlined is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                <span>Delete</span>
                            </a>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('lab.list_tests', lab_id=lab_id) }}" class="button is-light">Cancel</a>
                        </div>
                        <div class="control">
                            <button class="button is-success">
                                <span class="icon">
                                    <i class="fas fa-save"></i>
                                </span>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if test %}
            <div class="column">
                <table class="table is-fullwidth" id="specimenContainerTable">
                    <thead>
                        <th>Container</th>
                        <th>Volume</th>
                        <th>Note</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for sc in test.specimen_container_items %}
                        <tr id="container-item-{{ sc.id }}">
                        <td>{{ sc.specimen_container }}</td>
                        <td>{{ sc.volume }}</td>
                        <td>{{ sc.note }}</td>
                        <td>
                            <a hx-get="{{ url_for('lab.edit_specimen_container_item', test_id=sc.lab_test_id, container_item_id=sc.id) }}"
                               hx-target="#specimenContainerModal"
                               hx-swap="innerHTML"
                            >
                            <span class="icon">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="specimenContainerModal"></div>
                <div class="buttons">
                    <a class="button is-info" hx-get="{{ url_for('lab.edit_specimen_container_item', test_id=test.id) }}"
                        hx-target="#specimenContainerModal" hx-swap="innerHTML">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span>Add</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </section>
{% endblock %}
