{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title has-text-centered">ทะเบียนข้อมูลผู้รับบริการ</h1>
                <form method="post" class="box">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">HN</label>
                        <div class="control">
                            <input type="text" value="{{ customer.hn }}" class="input" readonly/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.title.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.title(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.firstname.label }}</label>
                        <div class="control">
                            {{ form.firstname(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.lastname.label }}</label>
                        <div class="control">
                            {{ form.lastname(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.gender.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.gender(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.dob.label }}</label>
                        <div class="control">
                            {{ form.dob(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.tel.label }}</label>
                        <div class="control">
                            {{ form.tel(class="input is-danger") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.emergency_person.label }}</label>
                        <div class="control">
                            {{ form.emergency_person(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.emergency_tel.label }}</label>
                        <div class="control">
                            {{ form.emergency_tel(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.pid.label }}</label>
                        <div class="control">
                            {{ form.pid(class="input is-danger") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.address.label }}</label>
                        <div class="control">
                            {{ form.address(class="textarea") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">โรคประจำตัว</label>
                        <select class="js-example-basic-multiple" multiple name="underlying_diseases" id="underlying_diseases">
                            {% for disease in customer.underlying_diseases %}
                                <option value="{{ disease.desc }}" selected>{{ disease.desc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label class="label">แพ้ยา</label>
                        <select class="js-example-basic-multiple" multiple name="drug_allergies" id="drug_allergies">
                            {% for drug in customer.drug_allergies %}
                                <option value="{{ drug.drug }}" selected>{{ drug.drug }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <a href="{{ url_for('lab.list_patients', lab_id=lab_id) }}"
                               class="button is-rounded is-danger">Cancel</a>
                        </div>
                        <div class="control">
                            <button class="button is-success is-rounded" type="submit">
                                <span class="icon">
                                    <i class="fas fa-save"></i>
                                </span>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://fastly.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#underlying_diseases').select2({
            width: "100%",
            tags: true,
            ajax: {
                url: {{ url_for('lab.get_underlying_diseases', lab_id=lab_id)|tojson|safe }},
                dataType: "json"
            }
        })
        $('#drug_allergies').select2({
            width: "100%",
            tags: true,
            ajax: {
                url: {{ url_for('lab.get_drug_allergies', lab_id=lab_id)|tojson|safe }},
                dataType: "json"
            }
        })
    })
    </script>
{% endblock %}