{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <form method="post" class="box">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        <label class="label">{{ form.hn.label }}</label>
                        <div class="control">
                            {{ form.hn(class="input", readonly=True) }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.title.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.title(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.firstname.label }}</label>
                        <div class="control">
                            {{ form.firstname(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.lastname.label }}</label>
                        <div class="control">
                            {{ form.lastname(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.gender.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.gender(class="input") }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.dob.label }}</label>
                        <div class="control">
                            {{ form.dob(class="input") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.tel.label }}</label>
                        <div class="control">
                            {{ form.tel(class="input is-danger") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.pid.label }}</label>
                        <div class="control">
                            {{ form.pid(class="input is-danger") }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ form.address.label }}</label>
                        <div class="control">
                            {{ form.address(class="textarea") }}
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <a href="{{ url_for('lab.list_patients', lab_id=lab_id) }}"
                               class="button is-rounded is-danger">Cancel</a>
                        </div>
                        <div class="control">
                            <button class="button is-success is-rounded" type="submit">
                                <span class="icon">
                                    <i class="fas fa-save"></i>
                                </span>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
