{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Result Records</h1>
                <h1 class="subtitle has-text-centered">Order ID: {{ order.code }},
                    <span class="icon">
                        <i class="fas fa-clock"></i>
                    </span>
                    {{ order.ordered_at|localdatetime }}</h1>
                {% if order.cancelled_at %}
                    <p class="notification is-danger">This order has been cancelled at {{ order.cancelled_at|localdatetime }}</p>
                {% endif %}
                <div>
                    <article class="media notification">
                        <div class="media-content">
                            <div class="content">
                                <div id="physicalExamRecordModal"></div>
                                <div class="tags has-addons">
                                    <span class="tag is-rounded is-dark">HN</span>
                                    <span class="tag is-rounded is-medium is-success"><strong>{{ order.customer.hn }}</strong></span>
                                </div>
                                <strong>{{ order.customer }}</strong>
                                <p>
                                    <small>เพศ <strong>{{ order.customer.gender }}</strong> วันเดือนปีเกิด <strong>{{ order.customer.dob }}</strong></small>
                                </p>
                                <p>
                                    <small>น้ำหนัก <strong>{{ order.physical_exam.weight or '-' }} กก.</strong> ส่วนสูง <strong>{{ order.physical_exam.height or '-' }} ซม.</strong></small>
                                    <small>ความดันโลหิต <strong>{{ order.physical_exam.systolic}}/{{ order.physical_exam.distolic }} mmHg</strong> อัตราการเต้นหัวใจ <strong>{{ order.physical_exam.heartrate or '-' }} ครั้ง/นาที</strong></small>
                                </p>
                                <a class="button is-rounded" hx-get="{{ url_for('lab.edit_physical_exam_record', order_id=order.id) }}"
                                    hx-target="#physicalExamRecordModal" hx-swap="innerHTML">
                                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                    <span>แก้ไข</span>
                                </a>
                            </div>
                        </div>
                    </article>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <th>Order ID</th>
                        <th>Test Name</th>
                        <th>Profile</th>
                        <th>Package</th>
                        <th>Updated At</th>
                        <th>Result</th>
                        <th>Status</th>
                        <th>Received At</th>
                        <th>Actions</th>
                        <th>Price</th>
                        <th>Audit Trail</th>
                        </thead>
                        <tbody>
                        {% for rec in order.test_records %}
                            <tr>
                            <td>
                                <span>{{ order.code }}</span>
                            </td>
                            <td>{{ rec.test.name }}</td>
                            <td>
                                {% if rec.profile %}
                                <a class="tag is-medium is-info" href="{{ url_for('lab.edit_test_profile_record', profile_id=rec.profile.id, order_id=rec.order_id) }}">
                                    {{ rec.profile }}
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if rec.package %}
                                    <span class="tag is-medium is-warning">
                                        {{ rec.package }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if rec.updated_at %}
                                {{ rec.updated_at|localdatetime }} {{ rec.updater }}
                                {% endif %}
                            </td>
                            <td>
                                {% if rec.num_result %}
                                <div class="field is-grouped">
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-success">{{ rec.num_result }}</span>
                                            <span class="tag is-dark">{{ rec.test.unit }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% elif rec.text_result %}
                                    {{ rec.text_result}}
                                {% else %}
                                <span class="icon">
                                    <i class="fas fa-hourglass-half has-text-light"></i>
                                </span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="icon">
                                {% if rec.reject_record or rec.cancelled or rec.order.cancelled_at %}
                                    <i class="fas fa-minus-circle has-text-danger"></i>
                                {% else %}
                                    <i class="fas fa-check-circle has-text-success"></i>
                                {% endif %}
                                </span>
                            </td>
                            <td>
                                {{ rec.received_at|localdatetime }}
                            </td>
                            <td>
                                {% if rec.reject_record %}
                                    <span class="tag is-danger">rejected</span>
                                {% endif %}
                                {% if rec.is_active %}
                                    <div class="field has-addons">
                                        {% if not rec.received_at %}
                                            <div class="control">
                                                <a href="{{ url_for('lab.receive_test_order', record_id=rec.id) }}"
                                                   class="button is-small is-rounded is-success is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                    <span>
                                                    accept
                                                </span>
                                                </a>
                                            </div>
                                            <div class="control">
                                                <a href="{{ url_for('lab.reject_test_order', record_id=rec.id) }}"
                                                   class="button is-small is-rounded is-warning is-outlined">
                                                <span class="icon">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                                    <span>
                                                    reject
                                                </span>
                                                </a>
                                            </div>
                                        {% else %}
                                            {% if not order.approved_at %}
                                            <div class="control">
                                                <a href="{{ url_for('lab.finish_test_record', record_id=rec.id, order_id=rec.order_id) }}"
                                                   class="button is-outlined is-small is-rounded is-link">
                                                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                                    <span>result</span>
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% if not order.approved_at %}
                                    <div class="control">
                                        <a hx-post="{{ url_for('lab.cancel_test_record', record_id=rec.id) }}"
                                           hx-confirm="Are you sure want to cancel?"
                                           class="button is-small is-rounded is-danger is-outlined">
                                            <span class="icon">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </a>
                                    </div>
                                    {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ rec.test.price }}
                            </td>
                            <td>
                                <a class="button is-small is-rounded is-link"
                                   href="{{ url_for('lab.test_record_revisions', record_id=rec.id) }}">
                                    <span class="icon">
                                        <i class="fas fa-history"></i>
                                    </span>
                                    <span>view</span>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="buttons is-centered">
                        <a class="button is-success is-outlined is-rounded"
                           hx-post="{{ url_for('lab.receive_all_tests', order_id=order.id) }}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
                           hx-indicator="this"
                           hx-swap="none"
                           hx-confirm="คุณต้องการรับทุกรายการหรือไม่"
                        >
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                            <span>Accept All</span>
                        </a>
                    </div>
                    <table class="table">
                    <tbody>
                    <tr>
                        <td><strong>Amount Balance</strong></td>
                        <td>
                            {{ order.amount_balance }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Amount Paid</strong></td>
                        <td>
                            {{ order.payment.payment_amount }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Payment Date Time</strong></td>
                        <td>
                            {{ order.payment.payment_datetime|localdatetime }}
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.show_customer_records', customer_id=customer.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            {% if not order.approved_at and order.active_test_records %}
            <a hx-confirm="Are you sure?" hx-get="{{ url_for('lab.approve_test_order', order_id=order.id) }}"
               class="button is-success is-rounded" id="approve-btn">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>Approve</span>
            </a>
            {% endif %}
            {% if not order.approved_at and not order.cancelled_at %}
                <a hx-delete="{{ url_for('lab.add_test_order', lab_id=order.lab_id, order_id=order.id, customer_id=order.customer_id) }}"
                   hx-confirm="Are you sure want to cancel this order?"
                   class="button is-rounded is-danger">
                    <span class="icon"><i class="fas fa-times"></i></span>
                    <span>Cancel</span>
                </a>
                <a href="{{ url_for('lab.add_test_order', order_id=order.id, customer_id=customer.id, lab_id=order.lab.id) }}"
                        class="button is-outlined is-rounded is-link">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span>Edit</span>
                </a>
            {% endif %}
            <a href="{{ url_for('lab.print_order_barcode', order_id=order.id) }}"
               class="button is-outlined is-rounded is-link">
                    <span class="icon">
                        <i class="fas fa-barcode"></i>
                    </span>
                <span>Barcode</span>
            </a>
            {% if not order.payment %}
            <a hx-get="{{ url_for('lab.edit_payment_record', order_id=order.id) }}"
               hx-target="#paymentModal" hx-swap="innerHTML"
               class="button is-outlined is-rounded is-link">
                    <span class="icon">
                        <i class="fas fa-money-bill-wave"></i>
                    </span>
                <span>Pay</span>
            </a>
            <div id="paymentModal"></div>
            {% else %}
            <a href="{{ url_for('lab.preview_report', order_id=order.id) }}"
               class="button is-rounded is-success">
                <span class="icon">
                    <i class="fas fa-eye"></i>
                </span>
                <span>Report</span>
            </a>
            <a href="{{ url_for('lab.export_receipt_pdf', order_id=order.id) }}"
               class="button is-rounded is-warning">
                <span class="icon">
                    <i class="fas fa-print"></i>
                </span>
                <span>Receipt</span>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
