<div class="modal is-active" id="clo-modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <iframe id="modal-iframe" src="https://doc-api-canary.flowaccount.com/api/cashinvoice/share/html/th/x1vnrqbzae6oocaqirsjcw"></iframe>
    </div>
    <button type="button" id="cancelButton" class="modal-close is-large" aria-label="close"></button>
</div>


<style>
    .modal-content {
    width: 90vw;
    height: 90vh;
    max-width: 900%;
    max-height: 900%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}
</style>