<div class="modal is-active animate__animated" id="a-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Specimen</p>
            <button type="button" id="cancelButton" class="delete" aria-label="close"></button>
        </header>
        <form hx-indicator="#save-btn"
              {% if not container_item_id %}
                  hx-post="{{ url_for('lab.edit_specimen_container_item', test_id=test_id) }}"
                  hx-target="#specimenContainerTable" hx-swap="beforeend"
              {% else %}
                  hx-put="{{ url_for('lab.edit_specimen_container_item', test_id=test_id, container_item_id=container_item_id) }}"
                  hx-target="{{ target }}" hx-swap="outerHTML"
              {% endif %}
        >
            {{ form.hidden_tag() }}
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">{{ form.specimen_container.label }}</label>
                    <div class="select">
                        {{ form.specimen_container() }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.volume.label }}</label>
                    <div class="control">
                        {{ form.volume(class="input", step=1, min=0) }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.note.label }}</label>
                    <div class="control">
                        {{ form.note(class="textarea") }}
                    </div>
                </div>
                <div class="buttons">
                    <button class="button is-light" id="cancel-btn">Cancel</button>
                    {% if container_item_id %}
                    <button class="button is-danger" hx-delete="{{ url_for('lab.edit_specimen_container_item', test_id=test_id, container_item_id=container_item_id) }}" hx-confirm="Are you sure?">Remove</button>
                    {% endif %}
                    <button class="button is-success" id="save-btn">Save</button>
                </div>
            </section>
        </form>
    </div>
</div>
<script>
    window.document.getElementById("cancel-btn").addEventListener("click", function (event) {
        event.preventDefault()
        htmx.removeClass(htmx.find('#a-modal'), 'is-active')
    })
    window.document.getElementById("cancelButton").addEventListener("click", function () {
        htmx.removeClass(htmx.find('#a-modal'), 'is-active')
    })
    window.addEventListener('closeModal', (evt) => {
        htmx.removeClass(htmx.find('#a-modal'), 'is-active')
    })
</script>