{% extends "base.html" %}

{% block navbar %}
{% endblock %}
{% block content %}
    <section class="hero is-info is-fullheight-with-navbar">
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-black"><span>Welcome to </span><span class="has-text-white">One LIMS</span></h1>
            <h1 class="subtitle has-text-black">
                Laboratory Information Management System
            </h1>
            <div class="buttons is-centered">
                <a href="{{ url_for('main.index') }}" class="button is-success is-rounded">Enter</a>
                <a href="{{ url_for('main.about') }}" class="button is-light is-rounded">About</a>
            </div>
            {% if announcements %}
                <div class="box">
                    {% for a in announcements %}
                        <span class="icon">
                            <i class="fas fa-bullhorn"></i>
                        </span>
                        <span class="has-text-black">{{ a.detail }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    </section>
{% endblock %}